<div class="content-wrapper" >
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card" style="margin-left: 200px; ">
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>RCH ID</th>
              <th>Patient Name</th>
              <th>Discharge Date</th>
              <th>Discharge Details</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let p of patients">
              <td> <a href="patient-details.html"><strong>{{ p.rchId }}</strong></a></td>
              <td><a href="patient-details.html">{{ p.name }}</a></td>
              <td><a href="patient-details.html">{{ p.dischargeDate }}</a></td>
              <td><span class="badge bg-label-primary me-1">Summary</span></td>           
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="content-backdrop fade"></div>
